body {
  /* background-image: url('assets/BACKGROUND.png') ; 
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #FFF5E4;
}

.card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.all-together {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 180px;
  height: 1px;
  border: 2px solid red;
  padding: 1rem;

}

.city-span, .country-span {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 3px;
  color: #EE6983;
}

.country-span {
  font-weight: 200;
}

img {
  padding: 0;
  margin: 0 0 10px 0;
  width: 300px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.img-conditional {
  display: inline;
  flex-direction: column;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  margin: 20px;
  justify-content: center;
}

h1 {
  color: #850E35;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Bebas Neue', sans-serif;
  margin: 40px;
}

.already {
  color: #EE6983;
}

.not-yet {
  color: #FFC4C4;
  margin: 80px;
}

.already, .not-yet {
  display: flex;
  justify-content: center;
  text-align: center;
}